{% extends 'global/paginas/base_index.html' %}
{% load static %}
{% block titulo_aba %}Assentos{% endblock titulo_aba %}

{% block conteudo %}
<h2 class="titulo_assentos">Escolha o(s) Assento(s)</h2>

<div class="caixa_assentos">
    {% comment %} {% csrf_token %} {% endcomment %}
        <table>
            <tr>
                <div class="tela">
                    <p>Tela</p>
                </div>
            </tr>
            {% for fileira in fileiras %}
                <tr class="linhas">
                    {%for cadeira in quant_cadeiras %}
                        <td><button id='{{fileira}}{{cadeira}}' value=1 name='btn{{fileira}}{{cadeira}}' class="btn btn-danger assento">{{fileira}}{{cadeira}}</button></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
    <form action="{% url 'assentos_app:pag' %}">
        <input type="hidden" name="lugaresSelecionados[]" id="lugaresSelecionados" value>
        <input type="hidden" id="codigoFilme" name="codigoFilme" value="{{codigo_filme}}">
        <button class="btn btn-danger" id='finalizar' name="finalizar" type="submit">Finalizar</button>
    </form>
</div>
{% endblock conteudo %}

{% block js_script %}
<script src="{% static 'global/js/script.js' %}"></script>
{% endblock js_script %}