{% extends 'global/paginas/base_index.html' %}
{% load static %}
{% block titulo_aba %}Assentos{% endblock titulo_aba %}

{% block conteudo %}
<h2 class="titulo_assentos">Escolha o(s) Assento(s)</h2>

<div class="caixa_assentos">
    <table>
        <tr>
            <div class="tela">
                <p>Tela</p>
            </div>
        </tr>
        <tr class="colunas">
            <td><button id='A1' value='1' class="btn btn-danger assento">A1</button></td>
            <td><button id='A2' value='1' class="btn btn-danger assento">A2</button></td>
            <td>
                <div>.....</div>
            </td>
            <td><button id='A3' value='1' class="btn btn-danger assento">A3</button></td>
            <td><button id='A4' value='1' class="btn btn-danger assento">A4</button></td>
            <td><button id='A5' value='1' class="btn btn-danger assento">A5</button></td>
            <td><button id='A6' value='1' class="btn btn-danger assento">A6</button></td>
        </tr>
        <tr>
            <td><button id='B1' value='1' class="btn btn-danger assento">B1</button></td>
            <td><button id='B2' value='1' class="btn btn-danger assento">B2</button></td>
            <td>
                <div>.....</div>
            </td>
            <td><button id='B3' value='1' class="btn btn-danger assento">B3</button></td>
            <td><button id='B4' value='1' class="btn btn-danger assento">B4</button></td>
            <td><button id='B5' value='1' class="btn btn-danger assento">B5</button></td>
            <td><button id='B6' value='1' class="btn btn-danger assento">B6</button></td>
        </tr>
        <tr>
            <td><button id='C1' value='1' class="btn btn-danger assento">C1</button></td>
            <td><button id='C2' value='1' class="btn btn-danger assento">C2</button></td>
            <td>
                <div>.....</div>
            </td>
            <td><button id='C3' value='1' class="btn btn-danger assento">C3</button></td>
            <td><button id='C4' value='1' class="btn btn-danger assento">C4</button></td>
            <td><button id='C5' value='1' class="btn btn-danger assento">C5</button></td>
            <td><button id='C6' value='1' class="btn btn-danger assento">C6</button></td>
        </tr>
        <tr>
            <td><button id='D1' value='1' class="btn btn-danger assento">D1</button></td>
            <td><button id='D2' value='1' class="btn btn-danger assento">D2</button></td>
            <td>
                <div>.....</div>
            </td>
            <td><button id='D3' value='1' class="btn btn-danger assento">D3</button></td>
            <td><button id='D4' value='1' class="btn btn-danger assento">D4</button></td>
            <td><button id='D5' value='1' class="btn btn-danger assento">D5</button></td>
            <td><button id='D6' value='1' class="btn btn-danger assento">D6</button></td>
        </tr>
    </table>
    <br>
    <button class="btn btn-danger" type="submit">Finalizar</button>
</div>
{% endblock conteudo %}

{% block js_script %}
<script src="{% static 'global/js/script.js' %}"></script>
{% endblock js_script %}