{% extends 'global/paginas/base_index.html' %}
{% load static %}
{% block titulo_aba %}Pagamento{% endblock titulo_aba %}

{% block conteudo %}

<div class="caixa_pag">
    <h2>Dados da Compra</h2>
    <br>
    <p>Filme: <span class="info">{{codigo_filme}}</span></p>
    <p>Data: <span class="info">{{data_compra}}</span></p>
    <p>Hora: <span class="info">{{horario}}</span></p>
    <p>Lugar: <span class="info">{{lugares_selecionados}}</span></p>
    <p>{{quant}} (und) ----- <span class="info"> R$ {{valor}},00</span></p>
    <br>
    <br>

    <div style="margin: 0 25%">
        <form action="{% url 'assentos_app:pag' %}" method="POST">
            {% csrf_token %}
            {% for campo in formulario %}
                {% if not campo.is_hidden %}
                    <label for="{{ campo.id_for_label }}"><h2>{{ campo.label }}</h2></label>
                    <br>
                {% endif %}    
                {{ campo }}

            {% endfor %}
            <br>
            <br>
            <button class="btn btn-danger" type="submit" >Finalizar</button>
        </form>

    </div>
</div>
{% endblock conteudo %}