{% block conteudo %}
<h1>pagina login</h1>

<section>
    <form action="" method="">
        <div>
            <label for="nome_login"><b>Nome de login</b></label>
            <input type="text" name="nome_login" placeholder="ex: Tom Cruise" required>
        </div>
        <div>
            <label for="senha"><b>senha</b></label>
            <input type="password" name="senha" placeholder="sua senha" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>
{% endblock conteudo %}