<!-- apaga_imagem.html -->
{% extends 'global/paginas/base_index.html' %}
{% block titulo_aba %}Apagar Foto{% endblock titulo_aba %}

{% block conteudo %}
<div class='caixa_user'>
    <form action="{% url 'usuario_app:deletar_imagem' id_url %}" method="post">
        {% csrf_token %}
        <div style='color:white; margin:2%'>
            <h3>Confirmação de exclusão</h3>
            <p>Tem certeza que deseja apagar a imagem?</p>
            
            <button class='btn btn-danger' type="submit">Confirmar exclusão</button>
        </div>
    </form>
</div>
{% endblock conteudo %}
