{% extends 'global/paginas/base_index.html' %}
{% block titulo_aba %}Cadastro{% endblock titulo_aba %}
{% block conteudo %}
<section>
    <div class='caixa_user'>
        <form action="{% url 'usuario_app:cadastro' %}" method="POST">
            {% csrf_token %}
            {% for campo in formulario.visible_fields %}
            <div class="">
                <label class="form-label" form="{{ campo.id_for_label }}" style='width: 30%;'><p class='nome_campo'>{{ campo.label }}</p></label>
                
            
                {{ campo }}
            </div>
        
            <br>
            {% endfor %}
            <div class="">
                <button class='btn btn-danger' type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</section>
{% endblock conteudo %}