{% extends 'global/paginas/base_index.html' %}
{% block titulo_aba %}Login{% endblock titulo_aba %}

{% block conteudo %}
{% comment %} <h1>pagina login.html</h1> {% endcomment %}


<section>
    <div class='caixa_user'>
        <form action="{% url 'usuario_app:login' %}" method="POST">
            {% csrf_token %}
            {% for campo in formulario.visible_fields %}
            <div class="mb-3 mt-3">
                <label class="form-label" form="{{ campo.id_for_label }}" style='width: 30%;'><p class='nome_campo'>{{ campo.label }}</p></label>
                <br>
                {{ campo }}
            </div>
            <br>
            {% endfor %}
            <div class="mb-3 mt-3">
                <button class='btn btn-danger' type="submit">Login</button>
            </div>
        </form>
    </div>
</section>


{% comment %} """antes de aplicar do jeito certo para o django"""
<section>
    <form action="" method="">
        <div>
            <label for="nome_login"><b>Nome de login</b></label>
            <input type="text" name="nome_login" placeholder="ex: Tom Cruise" required>
        </div>
        <div>
            <label for="senha"><b>senha</b></label>
            <input type="password" name="senha" placeholder="sua senha" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</section> {% endcomment %}
{% endblock conteudo %}
{% block js %}
{% endblock js %}