{% extends 'global/paginas/base_index.html' %}
{% block titulo_aba %}Foto Perfil{% endblock titulo_aba %}
{% block conteudo %}
{% if user %}
<div class='caixa_user'>
    <h2 class='nome_campo'> Bem-vindo {{user}}</h2>

    {% if foto %}
    <img src="{{foto.url}}" alt="" style="width: 50%; height: auto; margin: 2%;">

    <br>
    <div>
        <button class="btn btn-danger"><a href="{% url 'usuario_app:editar_imagem' id %}">Editar Foto</a></button>
        <button class="btn btn-danger"><a href="{% url 'usuario_app:apagar_imagem' id %}">Apagar Foto</a></button>
        <br>
    </div>

    {% else %}
    <h4 class='nome_campo'> Gostaria de adicionar uma imagem?</h4>
    <br>
    <button class="btn btn-danger"><a href="{% url 'usuario_app:adicionar_imagem' %}">Adicionar</a></button>
    {% endif %}
</div>
{% else %}
<p class='nome_campo'>nada foi enviado</p>
{% endif %}
{% endblock conteudo %}