@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

#fundo {
    background-color: black;
}

/* topo */
#topo {
    background-color: rgba(172, 0, 0, 0.747);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4vw;
}

.logo {
    height: 1.2vw;
    width: auto;
}

/* opções do topo */
.itens {
    text-decoration: none;
    font-size: 1.2vw;
    margin: 1.2% 2%;
    color: #ffffff;
}

.itens:hover {
    color: black;
}

/* FIM topo */