{% load static %}
<header id="topo">
    <a href="{% url 'home_app:index' %}" style='margin: 1.5% 2% 1.2% 1.2%;'><img class='logo'
            src="{% static 'global/img/logo.png' %}" alt=""></a>
    <a class='itens' href="{% url 'cartaz_app:index' %}">Em Cartaz</a>
    <a class='itens' href="{% url 'usuario_app:login' %}">Login</a>
    <a class='itens' href="{% url 'usuario_app:cadastro' %}">Cadastro</a>
    <a class='itens' href="{% url 'admin:index' %}">Administração</a>
    <a class='itens' href="{% url 'usuario_app:logout' %}">Sair</a>
    <a class='itens' href="{% url 'usuario_app:adicionar_imagem' %}">Add imagem</a>

    <form action="{% url 'cartaz_app:busca' %}">

        <div style='width: 20vw; height: 2vw; margin-top: 15px;' class="input-group">

            <input type="text" name="buscando" class="form-control" placeholder="Buscar">

            <button class="btn btn-dark" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </div>
    </form>
</header>